body {background-color: rgb(102, 0, 0);
	text-align:center;
}

#wrap {
	
	max-width:900px;
	min-width:1000px;
	margin-left: auto;
	margin-right: auto;
	}

#content {
	background:#fff;
	padding:35px;
	
}	

#menu {
	list-style:none; 
	padding:0px; 
	margin-bottom:0px; 
	background: black; 
	}
	
#menu li {
	display: inline-block;
}

#menu a{
	display: inline-block;
	padding :10px 30px;
	text-decoration: none;
	color: orange;
	font-weight:bold;
}

#menu li:hover, #menu li:hover a{
	color:white;
	background: grey;
}	



#pealkiri{
	color:white;
	float:left;
}














