<h1>Siin on kirjas busside ajagraafikud</h1>

	<table id="tabel" border="1" style="width:900px" >
<tr>
	<td>Lähtekoht</td>
	<td>Sihtkoht</td>
	<td>Sõidu aeg</td>
	<td>Buss</td>
	<td>Liin</td>
	<td>Väljumispäevad</td>
	<td>Piletihind</td>
</tr>


<tr>
	<td>Pärnu</td>
	<td>Tallinn</td>
	<td>10.00-11.50</td>
	<td>Lux Express</td>
	<td>32</td>
	<td>E,T,K,R,L</td>
	<td>6,50 €</td>
</tr>

<tr>
	<td>Tallinn</td>
	<td>Pärnu</td>
	<td>15.30-17.20</td>
	<td>SEBE</td>
	<td>51</td>
	<td>E,T,R,L,P</td>
	<td>7,50 €</td>
</tr>

<tr>
	<td>Tallinn</td>
	<td>Tartu</td>
	<td>15.30-17.20</td>
	<td>Taisto</td>
	<td>51</td>
	<td>E,K,R,L,P</td>
	<td>9,90 €</td>
</tr>

<tr>
	<td>Tallinn</td>
	<td>Viljandi</td>
	<td>10.45-13.00</td>
	<td>SEBE</td>
	<td>121</td>
	<td>E,K,N,R,L,P</td>
	<td>9,00 €</td>
</tr>

<tr>
	<td>Tartu</td>
	<td>Pärnu</td>
	<td>17.30-20.10</td>
	<td>Lux Express</td>
	<td>98</td>
	<td>E,K,N,R,L,P</td>
	<td>11,50 €</td>
	
</tr>

</table>


