<h1>Kontakt</h1>
	<p> Minu email: 
<a href="mailto:kristjan.kivisild@itcollege.ee" target="_top">
kristjan.kivisild@itcollege.ee</a>

</p>
<p>
Aadress: Raja 4c, Tallinn.

<div class="green" onmouseover="this.style.backgroundColor='green';">Roheline</div>
<div class="yellow" onmouseover="this.style.backgroundColor=this.className;" onmouseout="this.style.backgroundColor='white';">Kollane</div>



