<h1>Registreeri</h1>
		
		
		
		
	<form action="?mode=register" method="POST">
	<table id="table">
			<tr><td>Kasutajanimi: </td><td><input type="text" name="kasutajanimi" value= "<?php if(isset($regUser)) echo htmlspecialchars($regUser);?>"/></td>
			<tr><td>Parool: </td><td><input type="password" name="parool" value="<?php if(isset($regPass)) echo htmlspecialchars($regPass);?>"/></td>
			<tr><td>Parool uuesti:</td><td><input type="password" name="parool2" value="<?php if(isset($regPass_2)) echo htmlspecialchars($regPass_2);?>"/></td><br>
			<tr><td>Eesnimi:</td><td><input type="text" name="eesnimi" value="<?php if(isset($regName)) echo htmlspecialchars($regName);?>"/></td>
			<tr><td>Perekonnanimi:</td><td><input type="text" name="perenimi" value="<?php if(isset($regSname)) echo htmlspecialchars($regSname);?>"/></td>
			<tr><td>Vanus:</td><td><input type="text" name="vanus" value="<?php if(isset($regAge)) echo htmlspecialchars($regAge);?>"/></td>
			
			
			<tr><td colspan="2"><input type="submit" value="Registreeru!"/>
				<?php if (isset($error)):?>
					<?php foreach($error as $error):?>
						<tr style="color:red;">
							<td colspan="2"><?php echo htmlspecialchars($error); ?></td>
						</tr>
					<?php endforeach;?>
				<?php endif;?>
		</table>
	</form>








