<h1>Logi sisse</h1>
<form action="?mode=aut" method="POST">
<table>
	<tr><td>Kasutajanimi:</td><td><input type="text" name="username"  value="<?php if(isset($username)) echo htmlspecialchars($username);?>" placeholder="sisesta kasutajatunnus" /></td></tr>
	<tr><td>Parool:</td><td><input type="password" name="passwd" placeholder="sisesta salasõna"/></td></tr><tr>
	<td colspan="2"><input type="submit" value="Logi sisse!"/></td></tr>
	<tr><td colspan="2"><a href="?mode=registreerimine" title="registreeru kasutajaks">Registreeru</a></td></tr>
	<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<tr style="color:red;"><td colspan="2"><?php echo htmlspecialchars($error); ?></td></tr>
		<?php endforeach;?>
	<?php endif;?>

</table>
</form>
	